#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 0.5px solid #ccc;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #fff4f4;}

#customers tr:hover {background-color: #ffcece;}

#customers th {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
  background-color:#ff7575;
  color: black;
}

.alert
{
	color:#fd0000;
	text-align: center;
}